<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
   <link rel="stylesheet" href="/router.css">
</head>

<body>
    <p class="img"><img src="/test.png" alt=""></p>
    <a href="http://127.0.0.1:3000/mail">Email을 보내시겠습니까?</a>
</body>

</html>