<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>메일보내기</h2>

    <form action="/mail_ok" method="post">



        
        <p><label for="">보내는 아이디 : <input type="text" name="userid"></label></p>
        <p><label for="">보내는 이메일 : <input type="text" name="sendmail"></label></p>
        <p><label for="">받은 아이디 : <input type="text" name="touserid"></label></p>
        <p><label for="">받은 이메일 : <input type="text" name="tomail"></label></p>
        <p><label for="">제목 : <input type="text" name="title"></label></p>
        <p>내용</p>
        <p><textarea name="content" id="" cols="60" rows="10"></textarea></p>
        <p><input type="submit" value="보내기"></p>
    
    
    
    
    
    </form>
</body>
</html>